/*body {
    background-color: #3200BE;
    background-image:
      linear-gradient(rgba(255,255,255,.38) 1px, transparent 1px),
      linear-gradient(90deg, rgba(255, 255, 255, .38) 1px, transparent 1px),
      linear-gradient(rgba(255,255,255,.28) 1px, transparent 1px),
      linear-gradient(90deg, rgba(255,255,255,.28) 1px, transparent 1px);
    background-size: 76px 76px, 76px 76px, 19px 19px, 19px 19px;
    background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
  }*/

  body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
      background-color: #3200BE;
    background-image:
      linear-gradient(rgba(255,255,255,.38) 1px, transparent 1px),
      linear-gradient(90deg, rgba(255, 255, 255, .38) 1px, transparent 1px),
      linear-gradient(rgba(255,255,255,.28) 1px, transparent 1px),
      linear-gradient(90deg, rgba(255,255,255,.28) 1px, transparent 1px);
    background-size: 76px 76px, 76px 76px, 19px 19px, 19px 19px;
    background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

svg {
  width: 50vw;
  max-height: 400px;
  overflow: hidden;
}

svg path {
  opacity: 0.87;
}

.glitchLayer {
}

.gsap-3-logo {
    width: 20vw;
    max-width: 150px;
    position: fixed;
    bottom: 15px;
    right: 15px;
}

body:after {
  content: '';
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/756881/gifnoise.gif);
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  opacity: 0.06;
  will-change: auto;
  transform: translate3d(0, 0, 0);
  pointer-events: none;
}